# Binaries
**/bin/
!vendor/bin/premake/
bin-int/
obj/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*DiloxGEProfile-Startup.json
*DiloxGEProfile-Runtime.json
*DiloxGEProfile-Shutdown.json
